.box{
    background-color:red;
    color: white;
    min-height: 100px;
    text-align: center;

}
.box2{
    background-color: blue;
    color: white;
    min-height: 100px;
    text-align: center;

}

@media (max-width: 650px){
    body{background-color : #b3f0ff ;
        font-family: "Comic Sans MS", "Comic Sans", cursive;

}
h1{
    color: #fff;
}
}